.background{
    background-image: url(./images/bg.jpeg);
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -40px;
  padding-top: 30px;
  height: 106vh;
}
input{
    outline: 0;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}
.color{
    color: rgba(255, 255, 255, .9);;
}

.btn{ 
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, .9);
}
@media  screen and (max-width: 700px){
    .small{
        margin-left: 5px;
    }
    .get{
        display: flex;
        flex-direction: column;
    }
    button{
        margin-top: 10px;
    }
}

@media  screen and (max-width: 300px){
    .small{
        margin: 10px 0;
    }
}